.commentContainer {
  height: 100vh;
}
.commentContainer .commentTop {
  height: 86.5vh;
  padding-right: 10px;
  overflow-y: scroll;
  background-color: rgb(240, 211, 240);
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chatBoxBottom {
  display: flex;
  align-items: center;
  width: 100%;
}
.chatBoxInput {
  font-size: 15px;
  font-weight: bold;
  width: 80%;
  height: 40px;
  padding: 10px;
  border: none;
  position: sticky;
  outline: none;
}
.icon {
  width: 70px;
  height: 40px;
  border: none;
  margin: 1%;
  /* padding: 2%; */
  border-radius: 5px;
  cursor: pointer;
  /* background-color: rebeccapurple; */
  color: white;
}
.chatSubmitbtn {
  background-color: rebeccapurple;
  border-radius: 50%;
}
.upperContainer {
  display: flex;
  height: 7%;
  background-color: rebeccapurple;
  align-items: center;
  color: white;
  padding-left: 5%;
  position: sticky;
}
.commentText {
  border-radius: 15px;
  border-top-left-radius: 0px;
  padding: 5px;
  background-color: white;
  max-width: 250px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
