.chatBoxWrapper {
  display: flex;
  flex-direction: column;
}
.chatBoxWTop {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
  background-color: rgb(243, 236, 243);
  flex: 9;
}

.chatBoxBottom {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  position: fixed;
  bottom: 0;
  max-width: 900px;
  z-index: 100;
}
.chatBoxBottom .chatBoxInput {
  font-size: 15px;
  font-weight: bold;
  width: 70%;
  height: 40px;
  padding: 10px;
  border: none;
  outline: none;
}

.emoji {
  position: relative;
}
.emoji svg {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  background-color: rebeccapurple;
}
.emoji-container {
  background-color: orange;
  width: 40%;
  bottom: 20px;
  top: -350px;
}
.emoji-picker-react {
  /* position: absolute; */
  top: -350px;
}

.icon {
  background-color: rebeccapurple;
}
.icon.send {
  height: 30px;
  width: 40px;
  padding: 5px 10px;
  margin: 0 2%;
}
